################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2018-12-13/v15/Server/sqlite3
/.vs
